{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block body %}
    <h1>Documents</h1>

    {% include 'documents/_filters.html.twig' %}

    {% include 'documents/_issued_documents.html.twig' %}

    {% include 'documents/_total_per_day.html.twig' %}

    {#

    {% include 'documents/_pending_to_send.html.twig' %}

    {% include 'documents/_mop_grouping.html.twig' %}

    {% include 'documents/_order_status_grouping.html.twig' %}

    {% include 'documents/_orders_payment_validation.html.twig' %}

    {% include 'documents/_credit_notes_validation.html.twig' %}
    
    #}
  {% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}