{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block body %}
    <h1>Documents</h1>

    {% include 'documents/_filters.html.twig' %}

    {% include 'documents/_issued_documents.html.twig' %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}